.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  #calculateBtn {
    background: #0099ff;
    border-radius: 8px;
    color: white;
    height: 50px;
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
  }

  #payBtn {
    background: #00ff00;
    border-radius: 8px;
    color: white;
    height: 50px;
    width: 100px;
    margin: auto;
    margin-bottom: 20px;
  }